.register {
  display: flex;
  flex-direction: column;
  max-width: 396px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 520px) {
  .register {
    max-width: 260px;
  }
}

.register__logo {
  padding: 70px 0 40px;
}

@media screen and (max-width: 520px) {
  .register__logo {
    margin: 0 auto;
    padding: 56px 0 50px;
  }
}

.register__logo-link {
  background-image: url(../../images/logo.svg);
  width: 38px;
  height: 38px;
  display: block;
  transition: opacity .3s linear;
}

.register__logo-link:hover {
  opacity: .7;
}

.register__title {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding: 0 0 40px;
}

@media screen and (max-width: 520px) {
  .register__title {
    padding: 0 0 80px;
  }
}

.register__form {
  display: flex;
  flex-direction: column;
}

.register__field {
  border: none;
  border-bottom: 1px solid #424242;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 0;
  margin: 0 0 24px;
}

.register__field:nth-child(2) {
  border-bottom: 1px solid #4285F4;
}

.register__field:last-of-type {
  margin-bottom: 6px;
}

.register__label {
  color: #8B8B8B;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
}

.register__input {
  background-color: initial;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  padding: 0 0 10px;
}

.register__input:last-of-type {
  color: #EE3465;
}

.register__btn {
  background-color: #4285F4;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  padding: 13px 0 15px;
  margin-top: 136px;
  transition: opacity .3s linear;
}

@media screen and (max-width: 520px) {
  .register__btn {
    margin-top: 126px;
    font-size: 12px;
  }
}

.register__btn:hover {
  opacity: .7;
}

.register__error {
  color: #EE3465;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
}

.register__text {
  color: #8B8B8B;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 0;
  padding-top: 16px;
}

@media screen and (max-width: 520px) {
  .register__text {
    font-size: 12px;
  }
}

.register__text-link {
  color: #4285F4;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  padding-left: 6px;
  text-decoration: none;
  transition: opacity .3s linear;
}

.register__text-link:hover {
  opacity: .7;
}

@media screen and (max-width: 520px) {
  .register__text-link {
    font-size: 12px;
  }
}
