.techs {
  padding: 100px 70px;
  background-color: #272727;
  color: #fff;
  align-items: center;
}


@media screen and (max-width: 1100px) {
  .techs {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 767px) {
  .techs {
    padding: 70px 18px;
  }
}

.techs__title {
  font-weight: 400;
  font-size: 22px;
  line-height: normal;
  letter-spacing: -1px;
  color: #fff;
  padding-bottom: 21px;
  border-bottom: 1px solid #DADADA;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .techs__title {
    font-size: 18px;
    border-bottom: 1px solid #000;
    padding-bottom: 28px;
  }
}


.techs__content {
  text-align: center;
}

.techs__content-title {
  font-weight: 400;
  font-size: 50px;
  line-height: 116%;
  letter-spacing: -2px;
  padding-top: 90px;
  padding-bottom: 26px;
  margin: 0;
}

@media screen and (max-width: 1100px) {
  .techs__content-title {
    padding: 80px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .techs__content-title {
    padding: 64px 0 0;
    font-size: 30px;
    line-height: 120%;
  }
}

.techs__content-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.6px;
  max-width: 460px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  letter-spacing: -.6px;
  padding-bottom: 100px;
}

@media screen and (max-width: 1100px) {
  .techs__content-subtitle {
    padding: 24px 0 84px;
    font-size: 12px;
    max-width: 420px;
    line-height: 18px;
    text-align: center;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 767px) {
  .techs__content-subtitle {
    padding-bottom: 50px;
    line-height: 16px;
    letter-spacing: -1px;
  }
}

.techs__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  column-gap: 10px;
  row-gap: 10px;
  max-width: 690px;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
}

@media screen and (max-width: 1100px) {
  .techs__list {
    max-width: 648px;
    grid-template-columns: repeat(auto-fit, 84px);
  }
}

@media screen and (max-width: 520px) {
  .techs__list {
    max-width: 198px;
    row-gap: 10px;
  }
}

.techs__item {
  background-color: #303030;
  width: 90px;
  height: 60px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .techs__item {
    font-size: 12px;
    line-height: 14.52px;
    width: 84px;
    height: 57px;
  }
}
