.login {
  display: flex;
  flex-direction: column;
  max-width: 396px;
  width: 100%;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
}

@media screen and (max-width: 768px) {
  .login {
    padding-top: 232px;
    padding-bottom: 232px;
  }
}

@media screen and (max-width: 520px) {
  .login {
    max-width: 260px;
    padding-top: 56px;
    padding-bottom: 30px;
  }
}

.login__logo {
  padding: 0 0 40px;
}

@media screen and (max-width: 520px) {
  .login__logo {
    margin: 0 auto;
    padding: 0 0 50px;
  }
}

.login__logo-link {
  background-image: url(../../images/logo.svg);
  width: 38px;
  height: 38px;
  display: block;
  transition: opacity .3s linear;
}

.login__logo-link:hover {
  opacity: .7;
}

.login__title {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding: 0 0 40px;
}

@media screen and (max-width: 520px) {
  .login__title {
    text-align: center;
    padding: 0 0 80px;
  }
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__field {
  border: none;
  border-bottom: 1px solid #424242;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 0;
  margin: 0 0 24px;
}

.login__label {
  color: #8B8B8B;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
}

.login__input {
  background-color: initial;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  padding: 0 0 10px;
}

.login__btn {
  background-color: #4285F4;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  padding: 13px 0 15px;
  margin-top: 196px;
  transition: opacity .3s linear;
  cursor: pointer;
}

.login__btn:hover {
  opacity: .7;
}

@media screen and (max-width: 520px) {
  .login__btn {
    margin-top: 287px;
    font-size: 12px;
  }
}

.login__text {
  color: #8B8B8B;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 0;
  padding-top: 16px;
}

@media screen and (max-width: 520px) {
  .login__text {
    font-size: 12px;
  }
}

.login__text-link {
  color: #4285F4;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  padding-left: 6px;
  text-decoration: none;
  transition: opacity .3s linear;
}

.login__text-link:hover {
  opacity: .7;
}

@media screen and (max-width: 520px) {
  .login__text-link {
    font-size: 12px;
  }
}
